.conta {right: 0; text-align: center;}

.conta .left, .conta .center, .conta .right { display: inline-block; }

.conta .left { float: left; }
.conta .center { margin: 0 auto; }
.conta .right { float: right; }

.ellipsis{
    max-width: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tabla-pagos{
    font-size: 10px;
}

.fila {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.fila1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom:  1rem;
  margin-top: 1rem;
}

.invisible{
  display: none !important;
}

.imprimible {
  font-size: 9px;
  margin: 0;
  padding: 0;
  orphans: 4;
  widows: 4;
}

.imprime {
  margin: 0;
  padding: 0;
}
.titulore{
  font-size: 32px;
}

.subtitulo{
  background-color: gray;
  border-top: solid 2px !important;
  border-bottom: solid 2px !important;
  padding-top: 1rem;
}

.inpbenef{
  border-bottom: solid 1px !important;
  background-color: gray;
  font-weight: bold;
  margin-bottom: 2px;
}

.mr .contenido{
  font-size: 16px;
}

option{
  font-size: 16px;
}

.cardhome{
  z-index: -999;
}
.lineatexto{
  font-family: arial;
  text-align: center;
  font-size: 18px;
}
.lineadesc{
  font-family: arial;
  text-align: left;
  font-size: 18px;
}
.titulos{
  font-family: arial;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}
.titulosprint{
  font-family: arial;
  font-weight: bold;
  font-size: 17px;
  text-align: right;
  margin-right: 7px;
}
.folio{
  font-family: arial;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.datosmr{
  text-align: left: ;
  font-size: 16px;
}
.bordermr{
  border: solid 1px !important;
  padding: 4px;
}
.bordeline{
  border-bottom: solid 1px !important;
}

.mudas{
  font-family: arial;
  font-size: 18px;
  text-align: left;
}
.titulosmr{
  font-weight: bold;
  font-size: 20px;
  text-align: left;
}
.notasmr{
  font-size: 20px;
  text-align: left;
}
.mlp{
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
}
.notas{
  font-weight: bold;
  font-size: 16px;
}

.evaluacion{
    size: letter;
    margin: 1em;
   }

.checkbox-lg .custom-control-label::before, 
.checkbox-lg .custom-control-label::after {
  top: .8rem;
  width: 1.55rem;
  height: 1.55rem;
}

.checkbox-lg .custom-control-label {
  padding-top: 13px;
  padding-left: 6px;
}


.checkbox-xl .custom-control-label::before, 
.checkbox-xl .custom-control-label::after {
  top: 1.2rem;
  width: 1.85rem;
  height: 1.85rem;
}

.checkbox-xl .custom-control-label {
  padding-top: 23px;
  padding-left: 10px;
}


.submenu{
    background: rgba(245,245,247,0.7);
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center; 
    height: 80px;
    z-index: -999;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.borde{
  border: solid 1px;
}
.borde1{
  border: solid 2px;
  padding: 1rem;
}

.etiqueta{
  border-bottom: 1px solid;
  text-align: center;
}

@page imprimer {
    size: letter landscape;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
  } 
  .imprimer{
    page: imprimer;
  }

/* Change this breakpoint if you change the breakpoint of the navbar */

@media (min-width: 992px) {
    .animate {
      animation-duration: 0.3s;
      -webkit-animation-duration: 0.3s;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
    }
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
    100% {
      transform:translateY(0rem);
      opacity: 1;
    }
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
  }
  
  .slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }

@media print{

   /*  .saltoDePagina{
        display:block;
        page-break-before:always;
      } */

    .imprimer{
      width: 100%;
    }
    .imprimer img{
      width: 200px;
      height: 60px;
    }
    html, body{
        size: letter;
        margin: 0;
        background: white;
        padding: 0;
    }
   
    .imprime{
      size: letter;
      /* background-color: red; */
      width: 100%;
      margin: 0mm;
      padding: 0mm;
    }

    .conta{
      margin-bottom: 10px;
    }
    .conta .imagen1{
      width: 320px;
      height: 80px;
    }

    .piepag{
      margin-top: 30mm;
      margin-bottom: 0mm;
    }

    .container-contact100{
        margin: 0mm;
        padding: 0;
    }

    .wrap-contact100{
      margin: 0mm;
      padding: 0;
      width: 100%;
    }
    
    #titulo{
        font-size: 26px;
    }
    .imprime .custom-control-label{
      padding: 0;
      margin-top: 0mm;
      margin-bottom: 0mm;
    }
    
    hr {
    display: block;
    height: 1px;
    background: transparent;
    width: 100%;
    border: none;
    border-top: solid 1px #aaa;
}

    table, td{
        font-size: 7px;
    }
    #nav-tab {display: none}
    #botones {display: none}

    .tab-content{
      size: letter landscape;
    }

    .imprimible{
        font-size: 9px;
        margin: 0;
        padding: 0;
        orphans: 4;
        widows: 4;
    }
   .evaluacion{
    size: letter;
    width: 100%;
    margin:  0;
    padding: 0;
   }
   .bs{
    margin-top: 20px;
    margin-bottom: 10px;
   }
   .invisible{
    display: none;
   }
   .evopt .row{
    width: 100%;
    margin: 0;
    padding: 0;
   }
    .evopt .medio{
      margin-left: 1rem !important;
      margin-right: 1rem !important;
    }
.lineadiv{
  display: none;
}
.salto{
  display: block;
  page-break-before:always;  
}
.evaluacion .titulos{
  font-weight: bold;
  font-size: 17px;
}
.mudas{
  font-size: 20px;
  text-align: left;
}
.lineatexto{
  text-align: center;
  font-size: 16px;
}
.lineadesc{
  text-align: left;
  font-size: 16px;
}
.titulos{
  font-weight: bold;
  font-size: 18px;
}
.titulosmr{
  font-weight: bold;
  font-size: 22px;
}
.notasmr{
  font-size: 20px;
  text-align: left;
}
.totalmr{
  font-size: 11px;
}
.printnotes{
  width: 100%;
}
.datosmr{
  text-align: left;
  font-size: 12px;
}
.firmas{
  width: 100%;
  bottom: 10px;
  position:fixed;
}

/* estilos de tabla */
.table-striped>tbody>tr:nth-child(odd)>td{
     background-color: #ffffff;
    }
    .table-striped>tbody>tr:nth-child(even)>td{
     background-color: rgba(0, 0, 0, 0.075);
    }
    .table-striped>thead>tr>th {
       background-color: rgb(9 25 41 / 36%);
    }

  }


    /* .imprimible, h4, h6{
      font-size: 9px;
    } */
  
  /* estilos de tabla */
    .table-striped>tbody>tr:nth-child(odd)>td{
     background-color: #ffffff;
    }
    .table-striped>tbody>tr:nth-child(even)>td{
     background-color: rgba(0, 0, 0, 0.075);
    }
    .table-striped>thead>tr>th {
       background-color: rgb(9 25 41 / 36%);
    }
