.row0 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

input#inputeval, #beneficioeval, #inputevalsb, #inputevalcb {
   transform: scale(1.5);
}

.tituloeval {
	background-color: yellow;
}

.tituloreg{
	background-color: #A2A8B0;
}

.conmr{
	background-color: yellow;
	border: solid 2px;
	text-align: center;
	position: relative;
}